{$HLS_HOST} {
	encode gzip
	header {
		Access-Control-Allow-Origin *
		Access-Control-Allow-Methods "GET, OPTIONS"
		Access-Control-Allow-Headers *
	}
	@options method OPTIONS
	respond @options 204
	# MediaMTX is on the host network. HLS is :8888.
	reverse_proxy 172.18.0.1:8888 {
		header_down -Access-Control-Allow-Origin
		header_down -Access-Control-Allow-Methods
		header_down -Access-Control-Allow-Headers
	}
}
